.main {
  position: fixed;
  bottom: 0;
  z-index: 3;
}

.navbar {      
  width: 100vw;
  display: flex;
  justify-content: space-between;  
  height: 10vh;    
}

.title{
  color: rgb(16, 63, 104);  

  font-weight: bold;
}

.active{
  color: (var(--colorShcemes-light-sencondary-main));  
  font-size: 'large';
  font-weight: bold;
}

.button{
  width: 25vw;
  padding : 10px;
  color: rgb(1, 44, 82);
  appearance: none;
  border: 1px solid white;
  border-radius: 10px;
  background: rgb(37, 65, 107);
  cursor: pointer;
  font-weight: bold;
}