.button {
  width: 25vw;
  padding : 10px;
  color: aliceblue;
  appearance: none;
  border: 1px solid white;
  border-radius: 10px;
  background: rgb(37, 65, 107);
  cursor: pointer;    
  font-size: 12px;
  font-weight: bold;

}